.header {
  margin-top: 90px;
  padding-top: 15px;
  height: auto;
  width: fit-content;
  position: relative;
  height: 0px auto;
  width: 100%;
  color: #ffffff;
  background-color: #ffff00;
  background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avitar{
  padding-top: 15px;
 
}

.nameBar{
padding-bottom: 15px;
font-size: 45px;
}


@media screen and (max-width: 1024px){
  .header{
    height: 0px auto;
    width: 100%;
  }
}