#tweets-section{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(104, 194, 85);
  display: flex;
  justify-content: center;
}

article{
  border: 2px solid black;
  width: 98%;
  opacity: .7;
}

article:hover {
  opacity: 1;
}

article:hover .email-in-tweets{
  opacity: 1;
}

.email-in-tweets{
opacity: 0;
}

.header-span{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.tweet-box{
  display: flex;
  border-bottom: 1px solid black;
  margin: 10px;
}

.the-tweet{
  display: flex;
  font-weight: 600;
  margin: 10px 0px;
  
}

.tweet-footer{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 10px 10px;
}

